@charset "utf-8";

/* ------ GENERAL ------ */

body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #1E1E1E;
    margin: 10px;
    font-family: 'JetBrains Mono', monospace;
}

h1, p{
    color: #D4D4D4;
    margin-left: 120px;
    margin-right: 23px;
}

button{
    margin-left: 120px;
    margin-right: 23px;
}

.buttonLinkedin img{
    height: 30px;
    width: 120px;
}

/* NAV */
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 35px 50px;
    position: absolute;
}

ul{
    list-style-type: none;
    margin-top: 15px;
}

li{
    display: inline; 
    margin: 0 15px;
}

a{
    color: #707070;
    text-decoration: none; 
    margin: 0px 15px;
}

.active{
    color: #62B8FF;
}

a:hover{
    color: #FFD065;
}



/* MAIN */

.row{
    margin-top: 100px;
}

img{
    width: 580px;
    margin-left: 25px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}